<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 Veterinaria teran</p>
</footer>

<!-- Include jQuery first, then Bootstrap JS -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
